*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/common/build
/attacker/build
/defender/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
./.claude/*
/.claude/settings.local.json
